body {
  margin: 0;
  height: 100vh;
  overflow-y: hidden;

  --editor-bg: hsl(230, 7%, 17%);
  --button-bg: hsl(230, 7%, 70%);
  --top-panel-height: 3rem;
  --font-color: hsl(230, 7%, 75%);
  --green: #38ce00;
  --red: #ff0055;
}

button {
  height: calc(var(--top-panel-height) - 5px);
  width: calc(var(--top-panel-height) - 5px);
  background: none;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
    path {
      fill: var(--font-color);
    }
  }
}

.editor-layout {
  background: var(--editor-bg);
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: var(--top-panel-height) calc(100vh - var(--top-panel-height));
  grid-template-areas:
          "sidebarLeft header sidebarRight"
          "sidebarLeft main   sidebarRight";

  .panel-left {
    grid-area: sidebarLeft;
  }

  .panel-right {
    grid-area: sidebarRight;
  }

  .panel-viewport {
    grid-area: main;
  }

  .panel-top {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;

    .game-play {
      .pause-icon {
        display: none;
      }
    }

    .game-play.paused {
      .play-icon {
        display: none;
      }

      .pause-icon {
        display: block;
      }
    }

    .game-play:hover {
      path {
        fill: var(--green);
      }
    }

    .game-reset {
      padding: 10px;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .game-reset:hover {
      path {
        fill: var(--red);
      }
    }
  }

  #display {
    width: 100%;
    height: 100%;
  }
}

.editor-layout.collapsed-left {
  grid-template-areas:
          "sidebarLeft header sidebarRight"
          "main main   sidebarRight";
}

.editor-layout.collapsed-right {
  grid-template-areas:
          "sidebarLeft header sidebarRight"
          "sidebarLeft main   main";
}

.editor-layout.collapsed-left.collapsed-right {
  grid-template-areas:
          "sidebarLeft header sidebarRight"
          "main main   main";
}

