body {
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
}

.editor-layout {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 20% auto 20%;

  .panel-center {
    display: grid;
    grid-template-rows: 5% auto;
  }

  #display {
    width: 100%;
    height: 100%;
  }
}

